In [2]:
# squre root of a number

num =  float(input("input a number here : "))
sqrt = num ** 0.5
print(sqrt)

input a number here :  49

7.0

In [79]:
# square root of a number by using math module
import math
num =  float(input("input a number here : "))
sr = math.sqrt(num)
print('square root of the number is : ', sr)

input a number here :  455

square root of the number is :  21.330729007701542

In [6]:
# python programme to calculate area of a triangle
# area = (1/2) * height * base

h = float(input('enter the height of triangle : '))
b = float(input('enter the base of triangle : '))
area = (0.05) * h *  b
print('the area of the triangle is : ',area)

enter the height of triangle :  78
enter the base of triangle :  56

the area of the triangle is :  218.40000000000003

In [9]:
# python programme to swap two variable
x  = 13
y = 12
tem = x
x = y
y = tem
print("x = ", x, ",", "y = ", y)

x =  12 , y =  13

In [10]:
# 2nd way: python programme to swap two variable
x  = 13
y = 12
x, y = y, x
print("x = ", x, ",", "y = ", y)

x =  12 , y =  13

In [14]:
# programme to convert kilometers to miles

km = float(input('enter the value in kilometer : '))
mile = (0.621971) * km
print(km,'kilometers in mile is : ', mile)

enter the value in kilometer :  778

778.0 kilometers in mile is :  483.89343800000006

In [22]:
# programme to check whether a number is positive or 

num = float(input('enter a number here : '))

if num > 0 :
    print('number is positive')
elif num < 0 :
    print('number is negative')
else:
    print('number is zero')

enter a number here :  -6611

number is negative

In [25]:
# to check whether the nuber is odd or even number

num = float(input('enter s numebr here : '))

if num % 2 == 0:
    print('the number is even')
else:
    print('number is odd')

enter s numebr here :  0

the number is even

In [30]:
# programme to check a leap year

year = int(input('enter a year here : '))

if (year % 100 == 0) and (year % 400 == 0):
    print('year is a leap year')
else:
    print(year, ' is not a leap year')

enter a year here :  1966

1966  is not a leap year

In [35]:
# programme to find out the largest number among the given numebrs

num1 = float(input('enter a number here : '))
num2 = float(input('enter a number here : '))
num3 = float(input('enter a number here : '))

if (num1 > num2) and (num1 > num3):
    print(num1, 'is the largest number among these numbers')
elif (num2 > num1) and (num2 > num3):
    print(num2, 'is the largest number among these numbers')
else:
    print(num3, 'is the largest number among these numbers')

enter a number here :  556
enter a number here :  455
enter a number here :  1022

1022.0 is the largest number among these numbers

In [66]:
# programme to check whether a number is a prime number or not
# prime number are divisible only by 1 and by itself

num = int(input('enter a number here : '))

if num <= 1:
    print(num, 'is not a prime number')
elif num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, 'is not a prime number')
            break
    else:
        print(num, 'is a prime number')

enter a number here :  455

455 is not a prime number

In [78]:
# generate a random number

import random as rd

num = rd.randint(1,100)
print(num)

80

In [92]:
# programme to print all prime numbers with a certain range
lower = int(input('enter a lower number here : '))
upper = int(input('enter a upper number here : '))

for num in range(lower, upper+1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                 break
        else:
            print(num, end=' ')

enter a lower number here :  100
enter a upper number here :  200

101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [96]:
# converting degree to farenhiet

degree = float(input('enter temprature in degree : '))
farh = (1.8 * degree) +32
print(degree, 'Degree Celsius is eauals to', farh, 'Fahrenheit ' )

enter temprature in degree :  45

45.0 Degree Celsius is eauals to 113.0 Fahrenheit

In [108]:
# FIND A FACTORIAL OF A NUMBER using for loop

factorial = 1
num = int(input('enter a number here: '))
if num <= 0:
    print('factorial of this number does not exist')
elif num>0 :
    for i in range(1, num+1):
        factorial = factorial * i
    print('factorial of ',num , 'is', factorial)

enter a number here:  12

factorial of  12 is 479001600

In [138]:
# python programme to calulate a table of multiplication table

num = int(input('enter a number here : '))

print('table of ',num, 'is')

for i in range(1, 11):
    table = num * i
    print( table)

enter a number here :  11

table of  11 is
11
22
33
44
55
66
77
88
99
110

In [140]:
# python programme to calulate a table of multiplication table
# using while loop

num = int(input('enter a number here : '))
print('table of', num, 'is')
i = 1
while i <= 10 :
    table = num * i
    i += 1
    print(table)

enter a number here :  5

table of 5 is
5
10
15
20
25
30
35
40
45
50

In [144]:
# programme to print Fibonnaci sequence

a = 0
b = 1
num = int(input('enter a number here : '))
if num == 1 :
    print(a)
else:
    print(a)
    print(b)
    for i in range(2, num):
        c = a + b
        a = b
        b = c
        print(c)

enter a number here :  7

0
1
1
2
3
5
8

In [147]:
# fibonacci

a = 0
b = 1
num = int(input('enter a number :'))
if num == 1 :
    print(a)
else:
    print(a)
    print(b)
    for i in range(2, num):
        c = a + b
        a = b
        b = c
        print(c)

enter a number : 11

0
1
1
2
3
5
8
13
21
34
55

In [183]:
# programme to check armstrong number
# if I take cube of each digit present in a number and add these values then I will get the same number
# like 122 is a number
# (1*1*1)+(2*2*2)+(2*2*2)= sum;  if this sum is equals to 122 then I will be called as Armstrong number

num = input('enter a number here : ')
power = len(num)
sum = 0
for i in num:
    cube = (int(i)** power)
    sum = sum + cube
    if sum == int(num):
        print(num,'is an Armstrong number')
        break
else:
    print(num,'it is not an Armstrong number')

enter a number here :  1634

1634 is an Armstrong number

In [181]:
# 2nd way
num = input('enter a number here : ')
power = len(num)
temp = int(num)
sum = 0
while temp > 0:
    digit = temp % 10
    cube = digit ** power
    sum = sum + cube
    temp = temp // 10
if sum == int(num):
    print(int(num), ' is an armstrong number')
else:
    print(int(num), ' is not an armstrong number')

enter a number here :  1634

1634  is an armstrong number

In [190]:
# armstrong numbers in a ragne

lower = int(input('enter lower number : '))
upper = int(input('enter upper number : '))

for num in range(lower, upper+1):
    temp = num
    power = len(str(num))
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** power
        temp = temp // 10
    if sum == num:
        print(num)

enter lower number :  100
enter upper number :  10000

153
370
371
407
1634
8208
9474

In [193]:
# programme to find sum of n natural numbers using for loop

num = int(input('enter a number here :'))
sum = 0

if num < 0:
    print('please enter a positive number')
else:
    for i in range(0, num+1):
        sum += i
    print(sum)

enter a number here : 5

15

In [195]:
# programme to find sum of n natural numbers using while loop

num = int(input('enter a number here :'))
sum = 0

if num < 0:
    print('please enter a positive number')
else:
    while num >= 0 :
        sum += num
        num -= 1
    print(sum)

enter a number here : 45

1035

In [ ]:
# I have solved total 20 problems here

In [ ]:
# next problem are waiting....