In [ ]:
# documentation of any function or object:
# shift + tab

# Print() FUNCTION

In [1]:
print('hello world')

hello world

In [2]:
print(5)

5

In [3]:
print(5.6)

5.6

In [4]:
print(True)

True

In [6]:
print(False)

False

In [8]:
print('India', 5, True)

India 5 True

In [7]:
print('India', 'Nepal', 'China', 'Bhutan')

India Nepal China Bhutan

### "sep" parameter in the print function

In [ ]:
# sep parameter in the print function
# by default it is set as a space character

In [9]:
# if I want "/" instead of space between the values

print('India', 'Nepal', 'China', 'Bhutan', sep='/')

India/Nepal/China/Bhutan

In [10]:
# if I want "-" instead of space between the values

print('India', 'Nepal', 'China', 'Bhutan', sep='-')

India-Nepal-China-Bhutan

### "end" parameter in the print function

In [11]:
# by default the value of this parameter is set as "newline character(\n)"
# that's why it automatically adds a new line after a statement is printed

print('Hello')
print('world')

Hello
world

In [12]:
# if I want this two words in the same line then I will change the value of "end" parameter in the print statement
# I want a space instead of new line so ,

print('Hello', end=' ')
print('world')

Hello world

# DATA TYPES

In [ ]:
# int = integer
# float = float
# bool = boolean
# complex = complex
# str = string

## int = integer

 1, 2 ,3 , 1, 2, 5, 5, 56, 45585

In [25]:
print(type(4))

<class 'int'>

In [26]:
print(type(6))

<class 'int'>

## float = Float

 4.5, 45.89, 47.55, 4152.0

In [24]:
print(type(4.5))

<class 'float'>

In [23]:
print(type(84.5))

<class 'float'>

## bool = Boolean

 True, False

In [27]:
print(type(True))

<class 'bool'>

In [22]:
print(type(False))

<class 'bool'>

## complex

In [28]:
# complex
print(type(5+5j))

<class 'complex'>

In [21]:
x = 45+4j
print(type(x))

<class 'complex'>

# DATA STRUCTURES

### built in datastructures

1. LIST
2. DICTIONARY
3. TUPPLE
4. SETS
5. STRING

In [59]:
## STRING
print('hard work')

hard work

In [30]:
print('talent')

talent

In [31]:
x = 'mix of hard work and talent makes a good taste'
print(x)
print(type(x))

mix of hard work and talent makes a good taste
<class 'str'>

In [37]:
# LIST
print([1,2,3,7,4,5,6])
print(type([1,2,3,7,4,5,6]))

[1, 2, 3, 7, 4, 5, 6]
<class 'list'>

In [43]:
# dictionary
print({'naem':'dhanesh', 'surname':'sakre', 'marks':95, 'cgpa':80.6})
print(type({'naem':'dhanesh', 'surname':'sakre', 'marks':95, 'cgpa':80.6}))

{'naem': 'dhanesh', 'surname': 'sakre', 'marks': 95, 'cgpa': 80.6}
<class 'dict'>

In [35]:
# TUPPLE
print((1,2,3,4,5,6,8,9,0))
print(type((1,2,3,4,5,6,8,9,0)))

(1, 2, 3, 4, 5, 6, 8, 9, 0)
<class 'tuple'>

In [39]:
# sets
print({1,2,5,6,3,4,5,6,})
print(type({1,2,5,6,3,4,5,6,}))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# COMMENTS

In [ ]:
# interpreter ignores comments
# single line comments

In [44]:
'''
this is a
multiline comment
'''

'\nthis is a\nmultiline comment\n'

# VARIABLES

In [ ]:
# variables are containers to hold the data so that I can use that stored data in future.

In [ ]:
# python is dynamically typed language
# it automatically declare the type of the variable on the basis of the type of data stored in that variable

In [ ]:
# DYNAMIC BINDING CONCEPT

# python uses dynamic binding that means I can assign any datatype value in the same variable 
# and can use that variable again and again to store different types of data

In [45]:
x = 45
print(type(x))

<class 'int'>

In [46]:
# same varible but datatype changed
x = 45.56
print(type(x))

<class 'float'>

In [47]:
# same varible
x = 'name'
print(type(x))

<class 'str'>

In [49]:
#### multiple values assignment

a,b,c = 45, 56, 89
print(a)
print(b)
print(c)

45
56
89

In [50]:
# second way

a=45; b=89; c = 722
print(a)
print(b)
print(c)

45
89
722

In [ ]:
# BUT 
# in some languages like C, C++, jave we need to declare type of variable
# like which type of data will be stored in the variable
# and that variable is binded to only that perticular datatype thorought the lifecycle of that variable
# if I declare x as int type in java language then it can not store any other type of data in this x variable

# KEYWORDS

In [ ]:
# python is a case sensitive language

In [ ]:
# in programming keywords are the reserved word by program because these words have a special meaning.
# keywords can be commands or parameters
# every programming language has a set of keywords that can not be used as variable names

In [51]:
# python has 33 keywords
# let's see
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers

In [ ]:
# a python identifier is a name used to variable, function, class, module or other object.

##### RULES FOR SETTING IDENTIFIERS
1. can only start with alphabets or underscore( _ )
2. number also can be used but not at the starting of the name of the identifier
3. keywords and special characters cannot be used as the name of identifiers

In [54]:
# only and only

name = 'dhanesh'

_surname = 'sakre'

# print
print(name)

print(_surname)

dhanesh
sakre

# GETTING INPUT FROM USER

##### STATIC SOFTWARE : does not take input from user only show us output
##### DYNAMIC SOFTWARE : which take input from user as well as it return output

##### now a days almost all the softwares are dynamic software
##### e.g. youtube, zepto, Gpay these apps take input from user and gives output in the form of video content

In [55]:
# in python, there is fuction to take input from user
input()

 45

'45'

In [56]:
# it can take one string as prompt(msg) which is displayed to user
# it instructs the user like what value to enter

input('enter a number : ',)

enter a number :  4556

'4556'

In [57]:
# if I want to ask the user to enter his name them I can give a prompt or msg as a instruction

input('enter your age : ')

enter your age :  27

'27'

In [67]:
# if I want to ask for his name

input('enter your name : ')

enter your name :  DHANESH SAKRE

'DHANESH SAKRE'

In [ ]:
# it always return a str(string) value as a output
# because any type of data can be stored in string

In [65]:
# let's make a programme to calculate addition of two numbers

first_num = int(input('enter first number : '))
second_num = int(input('enter seocnd number : '))
addition = first_num + second_num
print('sum is : ', addition)

enter first number :  778
enter seocnd number :  456

sum is :  1234

In [ ]:
# here I have used type conversion to convert one datatype to another datatype

# TYPE CONVERSION

In [ ]:
# IMPLICIT CONVERSION : here I don't need to tell python like what should be the datatype. It automatically identifies
# EXPLICIT CONVERSION : I have to explicitly tell python like what should be the datatype

###### IMPLICIT CONVERSION

In [74]:
# 4      is int datatype
# 5.6     is a float datatype
x = 4 + (5.6)

In [75]:
type(x)

float

In [78]:
# example
y = 4 / 2
print(y)
type(y)

2.0

float

In [ ]:
# it has automatically detected the datatype of resultant(output value)
# this is an example of implicit conversion

###### EXPLICIT CONVERSION

In [86]:
# if I want to return inherent datatype of a perticular value then I use explicit conversion
# I explicitly tell python to convert that value in it's inherent datatype
x  = '45'
print(x)
type(x)

45

str

In [89]:
y = int(x)
print(y)
type(y)

45

int

In [90]:
# type conversion function are on the name of the datatypes only

# int() funtion
# float() funtion
# str() funtion
# float() funtion

# list() function : to convert into list

In [92]:
x = '5.6'
print(x)
print(type(x))

# type casting
x = float(x)
print(x)
print(type(x))

5.6
<class 'str'>
5.6
<class 'float'>

In [95]:
x = 'name'
print(x)

# conversion
x = list(x)
print(x)

name
['n', 'a', 'm', 'e']